<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- Android 13+ 通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <!-- Android 14+ 特殊前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>



    <application

        android:theme="@style/AppTheme"

        android:label="天长中控数据"

        android:icon="@drawable/favicon"

        android:usesCleartextTraffic="true"

        android:allowBackup="true"

        android:supportsRtl="true">


        <activity

            android:name=".MainActivity"

            android:exported="true"

            android:screenOrientation="portrait">


            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>


        </activity>



        <service

            android:name=".WebMonitorService"

            android:foregroundServiceType="specialUse"

            android:exported="false"/>



    </application>


</manifest>